<div class='flex justify-center bg-yellow-300 p-10'>
    <container>
        {{#each recipe}}
        <img class="h-96  my-16" src="/images/{{image}}">
        <h1 class="font-extrabold text-4xl my-16">{{name}}</h1>
        <p class="font-extrabold text-2xl my-16">{{description}}</p>


        {{/each}}

        <h1 class="font-extrabold text-4xl my-16">Ingredients</h1>
        <div class="font-extrabold text-1xl">
            {{#each ingredients}}
            <input type="checkbox">{{quantity}} {{name}} <br />
            {{/each}}
        </div>

        <h1 class="font-extrabold text-4xl my-16">Details</h1>
        <div class="text-2xl font-extrabold">{{#each details}}
            <p>Preparation Time: {{prepTime}} </p>
            <p>Additional Time: {{additionalTime}} </p>
            <p>Servings: {{servings}} </p>
            <p>Yield: {{yield}} </p>
            {{/each}}
        </div>
        <h1 class="font-extrabold text-4xl my-16" >Steps</h1>
        <div class="text-2xl font-extrabold">{{#each steps}}
            {{sequence}} {{step}} <br />
            {{/each}}
        </div>
    </container>
</div>