<div class='flex justify-center bg-yellow-300 h-52'></div>
<container>
    {{#each recipe}}
    <img src="/images/{{image}}"
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    {{/each}}

    <h1>Ingredients</h1>
    {{#each ingredients}}
    <input type="checkbox">{{quantity}} {{name}} <br/>
    {{/each}}

    <h1>Details</h1>
    {{#each details}}
    <p>Preparation Time: {{prepTime}} </p>
    <p>Additional Time: {{additionalTime}} </p>
    <p>Servings: {{servings}} </p>
    <p>Yield: {{yield}} </p>
    {{/each}}

    <h1>Steps</h1>
    {{#each steps}}
    {{sequence}} {{step}} <br/>
    {{/each}}
</container>
</div>
